
#w0rkEditDeck
{
   position:absolute;
   width:100%; height:100%;
   font-family:"code";
   font-size:16px;
   line-height:14px;
   overflow:scroll;
   box-sizing:border-box;
   padding-bottom:20px;
   background:transparent !important;
}

#w0rkEditSkin
{
   font-family:"code" !important;
   font-size:16px !important;
   line-height:14px !important;
}

#w0rkEditText
{
   position:absolute;
   width:100%; height:100%;
   background:transparent;
   border:none;
   outline:none;
   font-family:"code";
   font-size:16px;
   line-height:14px;
   color:hsla(0,0%,100%,0);
   resize:none;
   padding-left:38px;
   padding-top:2px;
   overflow:scroll;
   box-sizing:border-box;
   padding-bottom:20px;
   white-space:nowrap;
}
#w0rkEditText::selection
{background:hsla(0,0%,100%,0.2);}

#w0rkEditCrsr
{
   display:inline-block; position:absolute; width:1px; height:14px; top:0px; left:40px; margin-top:1px;
   border-right:1px solid hsla(0,0%,100%,1);
}

#w0rkEditCode
{
   position:relative;
   width:100%; height:100%;
}

#w0rkEditCode .line-numbers-rows
{
   border-right:none; opacity:0;
}

#w0rkEditGutr
{
   position:absolute; z-index:9999; display:inline-block; width:36px; height:100%;
   background:hsla(210,3%,15%,0.95); border-right:1px solid hsla(0,0%,25%,0.5);
   -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;
   font-family:"code"; font-size:16px; line-height:14px; padding-top:2px;
}

.gutrNmbr > span
{
	pointer-events:none; display:block;
	counter-increment:lineNumr;
}

.gutrNmbr > span:before
{
	content:counter(lineNumr);
	color:hsla(0,0%,50%,0.4); text-shadow:none;
	display:block; padding-right:4px; text-align:right;
}
