.slabMenuBody>panl
{
   padding:10px;
}




.doktItem
{
   width:100%;
   height:110px;
   background:hsla(0,0%,85%,1);
   border:1px solid hsla(0,0%,30%,1);
   border-radius:3px;
   box-shadow:0px 1px 4px hsla(0,0%,0%,0.6);
   margin-bottom:12px;
   color:hsla(0,0%,30%,1);
}




.doktItemHead
{
   height:20px;
   text-align:center;
}




.doktItemBody
{
   height:88px;
   padding-left:10px; padding-right:10px;
}

.doktItemFromFace
{
   width:64px; height:64px;
}
.doktItemFromFace>img
{
   width:64px; height:64px;
   border:3px solid hsla(0,0%,100%,1);
   border-radius:5px;
   box-shadow:0px 0px 4px hsla(0,0%,0%,0.6);
}
.doktItemFromRank
{
   position:absolute; bottom:0px; right:0px;
   width:16px; height:16px;
}

.doktItemMesgHead
{
   height:64px;
   width:auto;
   color:hsla(0,0%,30%,1);
   padding-left:10px;
}
.doktItemMesgHead>div
{
   width:100%; height:64px; overflow:hidden;
   padding-top:6px;
}
.doktItemMesgHead>div>h4
{
   margin:0px; margin-bottom:6px;
   max-height:30px; overflow:hidden;
   font-size:13px !important; font-weight:bold; line-height:15px !important;
}
.doktItemMesgHead>div>div
{
   font-size:11px !important; line-height:12px !important;
}

.doktItemTime
{
   display:inline-block;
   position:absolute;
   right:10px; bottom:12px;
   font-size:10px; line-height:11px;
   opacity:0.7;
}



.doktItemFoot
{
   text-align:center;
}

.doktItemFootGrid
{
   width:100%;
   height:16px;
}

.doktItemFootLine
{
   width:auto;
   border-bottom:1px solid hsla(0,0%,80%,1);
}

.doktItemFootButn
{
   width:70px; height:16px; overflow:hidden;
}
