
/* w0rk :: view
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
   #w0rkView
   {
      position:fixed !important;
      z-index:99999990 !important;
      width:100%; height:100%;
      background:transparent; color:hsla(0,0%,85%,1);
   }
/* ----------------------------------------------------------------------------------------------------------------------------------------- */




/* w0rk :: Main : Panl
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
   #w0rkMainPanl
   {
      width:100%; height:100%;
      background:hsla(210,3%,16%,1);
   }
/* ----------------------------------------------------------------------------------------------------------------------------------------- */




/* w0rk :: Main : Menu
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
   #w0rkMainMenu
   {
      width:44px;
   }
/* ----------------------------------------------------------------------------------------------------------------------------------------- */




/* w0rk :: Main : Butn
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
   .w0rkMainButn
   {
      width:36px; height:36px; margin:5px; min-width:36px !important; padding:0px !important;
      background:linear-gradient(0deg, hsla(210,3%,19%,1) 0%, hsla(210,3%,23%,1) 100%);
      font-size:25px; line-height:35px; text-align:center; color:hsla(0,0%,70%,1);
      border-color:hsla(210,3%,26%,1); box-shadow:0px 0px 2px hsla(0,0%,0%,0.4);
   }
   .w0rkMainButn:hover
   {
      background:linear-gradient(0deg, hsla(210,3%,26%,1) 0%, hsla(210,3%,30%,1) 100%);
      color:hsla(0,0%,95%,1);
      border:1px solid hsla(210,3%,36%,1);
   }
   .w0rkActvKnob
   {
      background:hsla(210,3%,30%,1);
      color:hsla(0,0%,95%,1);
      box-shadow:none; border:1px solid hsla(210,60%,50%,1);
   }
/* ----------------------------------------------------------------------------------------------------------------------------------------- */




/* w0rk :: Main : View
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
   #w0rkMainView
   {
      overflow:hidden;
   }
/* ----------------------------------------------------------------------------------------------------------------------------------------- */




/* w0rk :: Panl : Slab
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
   .w0rkPanlSlab
   {
      width:100%; height:100%;
   }

   .panlSlabMenu
   {
      width:200px;
   }

   .slabMenuHead
   {
      width:200px; height:36px;
      text-align:center; vertical-align:middle;
      font-family:"head";
   }

   .panlSlabTool
   {
      width:200px;
   }

   .slabToolHead
   {
      width:200px; height:36px;
      text-align:center; vertical-align:middle;
      font-family:"head";
   }

   .slabMenuBody
   {
      width:200px;
   }

   .slabMenuButn
   {
      display:block;
      width:144px; height:24px; margin:5px;
      background:linear-gradient(0deg, hsla(210,3%,19%,1) 0%, hsla(210,3%,23%,1) 100%);
      font-family:"butn"; font-size:12px; font-weight:bold; line-height:24px; text-align:center; color:hsla(0,0%,70%,1);
      border-color:hsla(210,3%,26%,1); box-shadow:0px 0px 2px hsla(0,0%,0%,0.4);
      margin-left:auto; margin-right:auto;
   }
   .slabMenuButn:hover
   {
      background:linear-gradient(0deg, hsla(210,3%,26%,1) 0%, hsla(210,3%,30%,1) 100%);
      color:hsla(0,0%,95%,1);
      border:1px solid hsla(210,3%,36%,1);
   }
   .slabMenuActv
   {
      background:hsla(210,3%,30%,1);
      color:hsla(0,0%,95%,1);
      box-shadow:none; border:1px solid hsla(210,60%,50%,1);
   }

   .panlSlabView
   {
      width:auto;
      height:auto;
   }

   grid
   {
      width:100%;
      height:100%;
   }

   .slabViewHead
   {
      height:36px;
   }

   .slabViewBody
   {}
/* ----------------------------------------------------------------------------------------------------------------------------------------- */




/* w0rk :: repo : diff colors
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
   .diffAN
   {
      color:hsla(220,100%,70%,1) !important;
   }

   .diffMN
   {
      color:hsla(40,90%,70%,1) !important;
   }

   .diffAR
   {
      color:hsla(120,100%,70%,1) !important;
   }

   .diffMR
   {
      color:hsla(330,100%,75%,1) !important;
   }

   .diffGC
   {
      color:hsla(0,100%,70%,1) !important;
   }

   .diffDR
   {
      color:hsla(0,0%,20%,1) !important;
   }
/* ----------------------------------------------------------------------------------------------------------------------------------------- */




/* clan :: modal
/* ----------------------------------------------------------------------------------------------- */
   .modalBody>input
   {
      display:block; box-sizing:border-box; width:200px;
      margin-top:0.5rem;
   }

   .modalBody>select
   {
      display:block; box-sizing:border-box; width:200px;
      margin-top:0.5rem;
   }

   .modalBody textarea
   {
      margin:0px !important; border:none; outline:none;
      display:block; width:100%; height:12rem;
   }
/* ----------------------------------------------------------------------------------------------- */
