#w0rkDrawWrap
{
   display:inline-block;
   box-sizing:border-box;
   background:url('/c0r3/img/void.jpg');
   /* border:2px dotted hsla(120,100%,70%,1); */
   transform-origin:top left;
}

#w0rkEditDraw
{
   position:absolute;
   overflow:hidden;
}
