dockitem
{
   display:block; box-sizing:border-box; overflow:hidden;
   width:100%; height:24px;
   user-select:none;
   text-shadow: 0px 0px 2px hsla(0,0%,0%,1), 0px 0px 1px hsla(0,0%,0%,1);
   font-family:'code'; font-size:16px; line-height:16px;
   padding:3px; padding-left:6px; cursor:pointer;
}
dockitem:hover
{background:hsla(0,0%,100%,0.01);}
dockitem grid{width:100%; height:24px;}
dockitem grid row{height:24px;}
dockitem grid row col:nth-child(2)
{
   padding-top:3px;
}
