pathnode
{
   display:block; box-sizing:border-box;
   font-family:'code'; font-size:16px; line-height:16px;
}

pathitem
{
   display:block; box-sizing:border-box; overflow:hidden;
   width:100%; height:24px;
   user-select:none;
   text-shadow: 0px 0px 2px hsla(0,0%,0%,1), 0px 0px 1px hsla(0,0%,0%,1);
}
pathitem:hover
{background:hsla(0,0%,100%,0.01);}
pathitem grid{width:100%; height:24px;}
pathitem grid row{height:24px;}
itemcell
{
   display:table-cell; box-sizing:border-box;
   height:24px;
}
pathitem grid row itemcell:nth-child(2)
{
   width:18px;
   font-size:12px; line-height:12px;
   padding-left:6px;
   user-select:none;
   vertical-align:top;
   padding-top:5px;
}
pathitem grid row itemcell:nth-child(3)
{
   width:18px;
   font-size:16px;
   user-select:none;
   vertical-align:top;
   padding-top:3px;
}


#editD3vlPanl .slabMenuBody input
{
   display:inline-block !important;
   position:relative !important;
   width:98% !important;
   height:18px !important;
   font-family:'code' !important;
   font-size:16px !important;
   line-height:18px !important;
   overflow:visible !important;
   padding:0px !important;
   padding-left:2px !important;
   background:transparent !important;
   border:none !important;
   margin:0px !important;
   cursor:default !important;
   user-select:none;
   color:hsla(0,0%,85%,1);
   text-shadow:inherit;
   box-sizing:border-box !important;
   border-style:solid;
   border-width:1px;
   padding-top:3px !important;
   margin-top:2px !important;
}



/* #w0rkEditView
{
   position:absolute;
   width:100%; height:100%;
   overflow:auto;
} */
